<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('build/images/icon-wild.png') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <!-- Include both 'Holtwood One SC' for the logo and 'Martel Sans' for other navbar elements -->
            <link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Martel+Sans:wght@700&display=swap" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {% include "_navbar.html.twig" %}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
